html {
    height: 100%;
  }
  
  body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: 'lato', sans-serif;
  color: #fff;
  background: #8d4cb5;
  background: #8d4cb5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8d4cb5 , #ff00b1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8d4cb5, #ff00b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
   
   .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
   }
   
   .text--center {
    text-align: center;
   }