html {
    height: 100%;
  }
  
  body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: 'lato', sans-serif;
  color: #fff;
  background: #8d4cb5;
  background: #8d4cb5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8d4cb5 , #ff00b1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8d4cb5, #ff00b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .container {
   background:rgba(255,255,255,0.5);
   border-radius: 0rem;
   box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
   width:450px;
   display: flex;  
   flex-direction: column;
  }





.logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
   }
   
   .login-item {
    color: #ffff;
    padding:0;
    margin: 20px 20px;	
    border-radius: 3px;
   }
   
   input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
   }
   
   .user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
   }
   
   .lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
   }
   
   .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
   }
   
   .text--center {
    text-align: center;
   }