.container {
    background:rgba(255,255,255,1);
    border-radius: 0rem;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .4);
    width:20rem;
    display: flex;  
    flex-direction: column;
    align-items:center;
   }
 
 .logo{
     background: url(../img/sinisana-digital-final.png);
     background-repeat: no-repeat;
     background-size: contain;
     height: 50px;
     width: 212px;
     font-size:20px;
     text-align: center;
     padding: 20px 20px 0;
     margin:20px 0 10px 0;
    }
    
    .login-item {
     width: 100%;
     color: #ffff;
     padding:0;
     margin: 20px 20px;	
     border-radius: 3px;
    }
    
    input {
     border: 0;
     color: inherit;
     font: inherit;
     margin: 0;
     outline: 0;
     padding: 0;
     -webkit-transition: background-color .3s;
     transition: background-color .3s;
    }
    
    .user:before {
     content: '\f007';
     font: 20px fontawesome;
     color: var(--bg-color-pink);
    }
    
    .lock:before {
     content: '\f023';
     font: 20px fontawesome;
     color: var(--bg-color-pink);
    }

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
   }
   
   .form-login {

    label, 
    input[type="text"], 
    input[type="password"], 
    input[type="submit"] {
    border-radius: 0rem;
    padding: 1rem;
    color: #3A3F44;
    border-bottom: 1px solid #8e8e8e;  
   }
    label {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 0;
       }

       input[type="text"], 
       input[type="password"] {
        background-color:transparent;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
       }

       input[type="text"]:focus, 
       input[type="text"]:hover, 
       input[type="password"]:focus, 
       input[type="password"]:hover {
        background-color: transparent;
       }

       input[type="submit"] {
        background-color: var(--bg-color-pink,#ed127e);
        color: #eee;
        font-weight: bold;
        text-transform: uppercase;
       }

       input[type="submit"]:focus, 
       input[type="submit"]:hover {
        background: var(--bg-color-pink-hover, #cc0a69);
       }

   } 

   .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
   }